#game {
	margin-top: 50px;
	display: grid;
	justify-self: center;
	text-align: center;
	border: 2px solid black;
}

input {
	display: inline;
	margin: auto;
	text-align: center;
}

#progress {
	margin-top: 50px;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: auto auto;
}
