<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href="/static/css/sakura.css" rel="stylesheet">

		<title>Lobby</title>
	</head>
	<body>
		<h1>Lobby</h1>

		<a href="/" id="left">Home</a>
		{{if .LoggedIn}}
			<a href="/profile/">My Profile</a>
			<a href="/lobby/">Play</a>
			<a href="/logout/">Log out</a>
		{{else}}
			<a href="/login_get/">Log in</a>
			<a href="/register_get/">Register</a>
			<a href="/lobby/">Play</a>
		{{end}}

		{{if .Message}}
			<blockquote>{{.Message}}</blockquote>
		{{end}}

		<p>No games found.</p>
		<input type="button" value="Refresh">
		<input type="button" value="Create game">
	</body>
</html>
