<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href="/static/css/sakura.css" rel="stylesheet">

		<style>
			ul {
				margin-top: 20px;
			}

			.join_button {
				margin-right: 25px;
			}
		</style>

		<title>Lobby</title>
	</head>
	<body>
		<h1>Lobby</h1>

		<a href="/" id="left">Home</a>
		<a href="/profile/">My Profile</a>
		<a href="/lobby/">Play</a>
		<a href="/logout/">Log out</a>

		{{if .Games}}
			<ul>
			{{range .Games}}
				<li>
					<input type="button" class="join_button" value="Join">
					<span class="join_name">{{.}}</span>
				</li>
			{{end}}
			</ul>
		{{else}}
			<p>No games found.</p>
		{{end}}

		<input type="button" value="Refresh" id="refresh">
		<input type="button" value="Create game" id="create">

		<script src="/static/js/lobby.js"></script>
	</body>
</html>
